
<html>
<head>
    <title></title>
</head>
<body>
<div class="main">
    <form action="" method="post">
        {% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
        <input type="submit" value="Confirm" />
</form>
</div>
</body>

</html>

