<html>
<head>
    <title>A redirect page</title>
</head>
<body>
<h1 style="margin-left: 800px; margin-top: 20px;">Welcome, {{user1.username}}!</h1>
<h3 style="margin-left: 740px;">You have successfully logged in.</h3>
<p style="margin-left: 1700px;margin-top: -90px;">Wanna logout? </p>
<a href="{% url 'logout' %}"><button type="submit" style="margin-left: 1700px; font-size:larger">LOGOUT </button></a>


<table  width="700" height=" 400"; style="  background-color: lightblue;
  border-radius: 30px;
  margin-left: 550px;
  margin-top: 80px;
  font-size: 30px;
  padding: 30px 40px 40px;
  color: white">
{% for users in user %}
    <tr>
    <td>{{ users.username }}</td>
        {% if perms.auth.delete_user %}
            <td><a href="{% url 'delete' users.id %}"><button>Delete</button></a></td>
            <td><a href="{% url 'edit' %}"><button>Edit</button></a></td>
    </tr>

{% endif %}
{% endfor %}
</table>


</body>
</html>