{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>User Login Form</h1>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">LOGIN</button>
</form>
{% endblock %}

