
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<h1>User Registration Form</h1>
<link rel="stylesheet" href="{% static 'style.css' %}">

<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value ="Submit">

</form>
{% endblock %}
